###################################
##  GrAL Complex2D  config file  ##
###################################

## NOTE: Makefiles require gmake ##


# Location of this module
export ROOT=$(HOME)/CVS-work/gral/complex2d#   # == pwd


# Required modules
export CONFIGURATION= $(HOME)/CVS-work/configuration#
export UTILITIES=     $(HOME)/CVS-work/utilities#
export SEQUENCE=      $(HOME)/CVS-work/sequence#
export GRALBASE=      $(HOME)/CVS-work/gral/base#
export NMWR=          $(HOME)/CVS-work/nmwrlib#

# for installation
export PREFIX=$(HOME)/lib/gral#

export LIBNAME=gral-complex2d

# configuration parameters
export ARCH  =solaris#  # solaris, linux
export CCNAME=gcc#      # kai, gcc
export DEBUG =debug#    # opt, debug



#####################################################
##  no changes should be required below this line  ##
#####################################################

# exporting PDW could give trouble in subdir Makefiles
# which try to give default values to other  variables such as CONFIG
# in order to enable direct make invocation in the subdirectory
unexport PWD

# installation
export INSTALLHEADERS=$(PREFIX)/include#
export INSTALLLIBRARIES=$(PREFIX)/lib#

# targets for tree makefiles (directory makefiles calling subdir makefiles) 
export RECURSIVETARGETS=$(CONFIGURATION)/defs/recursive-targets

# Relative paths for finding specific make definitions
# or for specifying places to put library  version
# built with different parameters
export DEFPATH:=$(ARCH)/$(CCNAME)/$(DEBUG)#
export LIBPATH:=$(DEFPATH)#

# Absolute paths
  # location of architecture dep. def's,  defines AR
  export ARCHDIR    :=$(CONFIGURATION)/defs/$(ARCH)#    
  include $(ARCHDIR)/make.defs

  # location of compiler dep. def's.
  # defines CCC, CCFLAGS, DEPEND, maybe AR
  export COMPILERDIR:=$(CONFIGURATION)/defs/$(CCNAME)/$(DEBUG)# 
  include $(COMPILERDIR)/make.defs

  # compiler & architecture dependent definitions
  # TODO: test if this exists.
  # momentarily not used
  export DEFDIR     :=$(CONFIGURATION)/defs/$(DEFPATH)#  
  #include $(DEFDIR)/make.defs



export INCDIR   =$(ROOT)/include#
export LIBDIR   =$(ROOT)/lib/$(LIBPATH)#

export CC      = $(CCC)

IFLAGS   += -I$(INCDIR) -I$(CONFIGURATION)/include -I$(GRALBASE)/include \
            -I$(UTILITIES)/include -I$(SEQUENCE)/include \
            -I$(NMWR)/include
LDFLAGS  += -L$(PREFIX)/lib -L$(LIBDIR)


# module-specific cleanup
moduleclean:

# rules .C.o, .C.d, some standard targets
include $(CONFIGURATION)/defs/suffix-targets

