# note: Makefiles require gmake

# Location of this module
export ROOT=$(HOME)/CVS-work/external-control#   # == pwd
export PREFIX=$(HOME)/lib/gral

# Require modules
export CONFIGURATION= $(HOME)/CVS-work/configuration
export UTILITIES= $(HOME)/CVS-work/utilities#


export ARCH  =solaris#  # solaris, linux
export CCNAME=gcc#      # xlC, gcc
export DEBUG =debug#    # opt, debug



#####################################################
##  no changes should be required below this line  ##
#####################################################

# installation
export INSTALLHEADERS=$(PREFIX)/include
export INSTALLLIBRARIES=$(PREFIX)/lib

# targets for tree makefiles
export RECURSIVETARGETS=$(CONFIGURATION)/defs/recursive-targets

export DEFPATH =$(ARCH)/$(CCNAME)/$(DEBUG)#
export LIBPATH =$(DEFPATH)#

export DEFDIR     =$(CONFIGURATION)/defs/$(DEFPATH)#
export ARCHDIR    =$(CONFIGURATION)/defs/$(ARCH)#
export COMPILERDIR=$(CONFIGURATION)/defs/$(CCNAME)/$(DEBUG)#

# architecture dependend definitions
# defines AR
include $(ARCHDIR)/make.defs

# compiler dependend definitions
# defines CCC, CCFLAGS, DEPEND, maybe AR
include $(COMPILERDIR)/make.defs

# compiler & architecture dependend definitions
# TODO: test if this exists.
#include $(DEFDIR)/make.defs

export INCDIR   =$(ROOT)/include#
export LIBDIR   =$(ROOT)/lib/$(LIBPATH)#

CC      = $(CCC)

IFLAGS   += -I$(INCDIR) -I$(UTILITIES)/include  -I$(CONFIGURATION)/include
LDFLAGS  += -lm -L$(ROOT)/lib/$(LIBPATH) -L$(UTILITIES)/lib/$(LIBPATH)


# module-specific cleanup
moduleclean:

# rules .C.o, .C.d
include $(CONFIGURATION)/defs/suffix-targets

