###################################
## External control config file  ##
###################################

## NOTE: Makefiles require gmake ##


# Location of this module
export ROOT=$(HOME)/CVS-work/external-control#   # == pwd

# Required modules
export CONFIGURATION= $(HOME)/CVS-work/configuration#
export UTILITIES=     $(HOME)/CVS-work/utilities#

# for installation
export PREFIX=$(HOME)/lib/gral#


# configuration parameters
export ARCH  =solaris#  # solaris, linux
export CCNAME=gcc#      # kai, gcc
export DEBUG =debug#    # opt, debug



#####################################################
##  no changes should be required below this line  ##
#####################################################

# installation
export INSTALLHEADERS=$(PREFIX)/include#
export INSTALLLIBRARIES=$(PREFIX)/lib#

# targets for tree makefiles (directory makefiles calling subdir makefiles) 
export RECURSIVETARGETS=$(CONFIGURATION)/defs/recursive-targets

export DEFPATH =$(ARCH)/$(CCNAME)/$(DEBUG)#
export LIBPATH =$(DEFPATH)#

export DEFDIR     =$(CONFIGURATION)/defs/$(DEFPATH)#
export ARCHDIR    =$(CONFIGURATION)/defs/$(ARCH)#
export COMPILERDIR=$(CONFIGURATION)/defs/$(CCNAME)/$(DEBUG)#

# architecture dependent definitions
# defines AR
include $(ARCHDIR)/make.defs

# compiler dependend definitions
# defines CCC, CCFLAGS, DEPEND, maybe AR
include $(COMPILERDIR)/make.defs

# compiler & architecture dependent definitions
# TODO: test if this exists.
#include $(DEFDIR)/make.defs

export INCDIR   =$(ROOT)/include#
export LIBDIR   =$(ROOT)/lib/$(LIBPATH)#

export CC      = $(CCC)

IFLAGS   += -I$(INCDIR) -I$(UTILITIES)/include  -I$(CONFIGURATION)/include
LDFLAGS  += -L$(ROOT)/lib/$(LIBPATH) -L$(UTILITIES)/lib/$(LIBPATH)


# module-specific cleanup
moduleclean:

# rules .C.o, .C.d, some standard targets
include $(CONFIGURATION)/defs/suffix-targets

