# -*- makefile -*-
#####################################
##  GrAL partitoning  config file  ##
#####################################


## NOTE: Makefiles require gmake ##

# Common path to all modules (if it exists)
# THIS VARIABLE HAS TYPICALLY TO BE ADAPTED!!
export ALLROOT=$(HOME)/CVS-work#

# Location of this module
export PACKAGE=partitioning#              # this package
export ROOT=$(ALLROOT)/gral/$(PACKAGE)#   # == pwd
export CONFIG=$(ROOT)/mk.config#          # this file


# Configuration module --
# module-independent configuration stuff sits here
export CONFIGURATION=$(ALLROOT)/configuration#

# Configuration parameters
# Here you may override those defined  in the file
# $(CONFIGURATION)/defs/make.defs included below.

# export ARCH  =solaris#  # solaris, linux
# export CCNAME=gcc#      # kai, gcc
# export DEBUG =opt#      # opt, debug
# export DEVELOP=develop# # develop, user


# top-level global configurations
include $(CONFIGURATION)/defs/make.defs


#####################################
## Module specific stuff goes here ##
#####################################

# hook for  module-specific cleanup
moduleclean:


