# note: Makefiles require gmake

# let this point to where configs are located
NMWRROOT = $(HOME)/CVS-work/nmwrlib
ROOT=$(PWD)
UTILITIES= $(HOME)/CVS-work/utilities


#CCNAME=notset#
CCNAME=egcs#

# comment this if you uncomment the
# defs ARCH,CCC,DEBUG below
#include $(NMWRROOT)/defs/make.defs

ifeq (notset,$(CCNAME))
CCNAME=$(CCC)
endif

# uncomment this and adapt to your needs,
# if you use it outside the $(NMWRROOT)-tree

ARCH  =solaris#   # rs6000, hp, solaris, irix
CCC   =g++#      # xlC, CC, g++, /opt/local/gcc/bin/c++
DEBUG =debug#    # opt, debug, prof


ARFLGS = -rs # 

# compiler to use for depend
DEPEND=$(CCC)
DEPFLAGS = -MM $(CCFLAGS)



#####################################################
##  no changes should be required below this line  ##
#####################################################

GENERICTARGETS=$(NMWRROOT)/defs/generic-targets
DEFPATH =$(ARCH)/$(CCNAME)/$(DEBUG)#
LIBPATH = $(DEFPATH)#

DEFDIR   =$(NMWRROOT)/defs/$(DEFPATH)#

include $(DEFDIR)/make.defs

INCDIR   =$(ROOT)/include#
LIBDIR   =$(ROOT)/lib/#

CC      = $(CCC)


IFLAGS   += -I$(INCDIR) -I$(UTILITIES)/include 
LDFLAGS  += -lm -L$(ROOT)/lib 



# additional files to clean
stdclean:
	rm -f *.rpo *.d *.ti *.ii

.SUFFIXES: .C .cc .d .f

.C.o: 
	$(CC) $(CCFLAGS) $(IFLAGS) -c $<

.cc.o: 
	$(CC) $(CCFLAGS) $(IFLAGS) -c $<

.C.d:
	$(DEPEND) $(DEPFLAGS) $(IFLAGS) $<  > $@
