# note: Makefiles require gmake

# Location of this module
ROOT=$(HOME)/CVS-work/utilities#   # == pwd
PREFIX=$(HOME)/lib/gral

# Require modules
CONFIGURATION=$(HOME)/CVS-work/configuration


ARCH  =solaris#  # solaris, linux
CCNAME=gcc#      # xlC, gcc
DEBUG =debug#    # opt, debug



#####################################################
##  no changes should be required below this line  ##
#####################################################

# installation
INSTALLHEADERS=$(PREFIX)/include
INSTALLLIBRARIES=$(PREFIX)/lib

# targets for tree makefiles
RECURSIVETARGETS=$(CONFIGURATION)/defs/recursive-targets

DEFPATH =$(ARCH)/$(CCNAME)/$(DEBUG)#
LIBPATH =$(DEFPATH)#

DEFDIR     =$(CONFIGURATION)/defs/$(DEFPATH)#
ARCHDIR    =$(CONFIGURATION)/defs/$(ARCH)#
COMPILERDIR=$(CONFIGURATION)/defs/$(CCNAME)/$(DEBUG)#

# architecture dependend definitions
# defines AR
include $(ARCHDIR)/make.defs

# compiler dependend definitions
# defines CCC, CCFLAGS, DEPEND, maybe AR
include $(COMPILERDIR)/make.defs

# compiler & architecture dependend definitions
# TODO: test if this exists.
#include $(DEFDIR)/make.defs

INCDIR   =$(ROOT)/include#
LIBDIR   =$(ROOT)/lib/$(LIBPATH)#

CC      = $(CCC)

IFLAGS   += -I$(INCDIR)  -I$(CONFIGURATION)/include
LDFLAGS  += -lm -L$(ROOT)/lib 


# module-specific cleanup
moduleclean:

# rules .C.o, .C.d
include $(CONFIGURATION)/defs/suffix-targets

