# -*- makefile -*-

###################################
## Function Algebra config file  ##
###################################

## NOTE: Makefiles require gmake ##





# Location of this module
export PACKAGE=function-algebra#       # this package
export ROOT=$(GRALROOT)/$(PACKAGE)#     # == pwd
export CONFIG=$(ROOT)/mk.config#       # this file

# for installation
export LIBNAME=$(PACKAGE)# 

# Configuration module --
# module-independent configuration stuff sits here
export CONFIGURATION=$(GRALROOT)/configuration#

# Configuration parameters
# Here you may override those defined  in the file
# $(CONFIGURATION)/defs/make.defs included below.

# export ARCH  =solaris#  # solaris, linux
# export CCNAME=gcc#      # kai, gcc
# export DEBUG =opt#      # opt, debug
# export DEVELOP=develop# # develop, user


# top-level global configurations
include $(CONFIGURATION)/defs/make.defs


#####################################
## Module specific stuff goes here ##
#####################################

# hook for  module-specific cleanup
moduleclean:


