# -*- makefile -*-

#####################################
##  GrAL distributed  config file  ##
#####################################

## NOTE: Makefiles require gmake ##

# Common path to all modules (if it exists)
# THIS VARIABLE HAS TYPICALLY TO BE ADAPTED!!
export ALLROOT=$(HOME)/CVS-work#

# Location of this module
export PACKAGE=distributed#               # this package
export ROOT=$(ALLROOT)/gral/$(PACKAGE)#   # == pwd
export CONFIG=$(ROOT)/mk.config#          # this file

# for installation
export LIBNAME=gral-distributed# 

# Configuration module --
# module-independent configuration stuff sits here
export CONFIGURATION=$(ALLROOT)/configuration#


# Configuration parameters
# Here you may override those defined  in the file
# $(CONFIGURATION)/defs/make.defs included below.

# export ARCH  =solaris#  # solaris, linux
# export CCNAME=gcc#      # kai, gcc
# export DEBUG =opt#      # opt, debug
# export DEVELOP=develop# # develop, user


# top-level global configurations
include $(CONFIGURATION)/defs/make.defs

# MPI specific configs.
# See $(CONFIGURATION)/defs/mpi/README
include  $(CONFIGURATION)/defs/mpi/mpi.defs
# uncomment if mpi stuff is to be built
#WITHMPI=true

#####################################
## Module specific stuff goes here ##
#####################################

# hook for  module-specific cleanup
moduleclean:


