# -*- makefile -*-

#####################################
##  GrAL distributed  config file  ##
#####################################

## NOTE: Makefiles require gmake ##





# Location of this module
export PACKAGE=distributed#               # this package
export ROOT=$(GRALROOT)/gral/$(PACKAGE)#   # == pwd
export CONFIG=$(ROOT)/mk.config#          # this file

# for installation
export LIBNAME=gral-distributed# 

# Configuration module --
# module-independent configuration stuff sits here
export CONFIGURATION=$(GRALROOT)/configuration#


# Configuration parameters
# Here you may override those defined  in the file
# $(CONFIGURATION)/defs/make.defs included below.

# export ARCH  =solaris#  # solaris, linux
# export CCNAME=gcc#      # kai, gcc
# export DEBUG =opt#      # opt, debug
# export DEVELOP=develop# # develop, user


# top-level global configurations
include $(CONFIGURATION)/defs/make.defs

######################################
# MPI specific configs.
# See $(CONFIGURATION)/defs/mpi/README
######################################

# set to true if mpi stuff is to be built

WITHMPI ?= false

ifeq ($(WITHMPI),true)
include  $(CONFIGURATION)/defs/mpi/mpi.defs
ifndef MPICC
MPICC:=$(CC)
endif
endif






#####################################
## Module specific stuff goes here ##
#####################################

# hook for  module-specific cleanup
moduleclean:


