# -*- makefile -*-
####################################
##  GrAL generation  config file  ##
####################################


## NOTE: Makefiles require gmake ##

# Common path to all modules (if it exists)
# THIS VARIABLE HAS TYPICALLY TO BE ADAPTED!!
export GRALROOT=/mnt/space/users/putanowr/local/src/GrAL-1.0#

# Location of this module
export PACKAGE=generation#              # this package
export ROOT=$(GRALROOT)/gral/$(PACKAGE)#   # == pwd
export CONFIG=$(ROOT)/mk.config#          # this file

WITHTRIANGLE=true
export TRIANGLE=/mnt/space/users/putanowr/local/
export TRIANGLE_INC=$(TRIANGLE)/include/triangle
export TRIANGLE_LIB=$(TRIANGLE)/lib

WITHGRUMMP=true
export GRUMMP=/mnt/space/users/putanowr/local/
export GRUMMP_INC=$(GRUMMP)/include/GRUMMP
export GRUMMP_LIB=$(GRUMMP)/lib


LIBNAME = gral-generation

# Configuration module --
# module-independent configuration stuff sits here
export CONFIGURATION=$(GRALROOT)/configuration#

# Configuration parameters
# Here you may override those defined  in the file
# $(CONFIGURATION)/defs/make.defs included below.

# export ARCH  =solaris#  # solaris, linux
# export CCNAME=gcc#      # kai, gcc
# export DEBUG =opt#      # opt, debug
# export DEVELOP=develop# # develop, user


# top-level global configurations
include $(CONFIGURATION)/defs/make.defs


#####################################
## Module specific stuff goes here ##
#####################################

# hook for  module-specific cleanup
moduleclean:


